/attachments/tickets/
/attachments/announcements/
/attachments/images/
/attachments/imgs/
/attachments/*.png
/attachments/*.jpg
/attachments/*.webp
/attachments/avatars/*.png
/attachments/avatars/*.jpg
/attachments/avatars/*.webp
/attachments/image_hosting/*/*.gif
/attachments/image_hosting/*/*.svg
/attachments/image_hosting/*/*.ico
/attachments/image_hosting/*/*.bmp
/attachments/image_hosting/*/*.tiff
/attachments/image_hosting/*/*.tif
/attachments/image_hosting/*/*.ico
/attachments/image_hosting/*/*.bmp
/attachments/image_hosting/*/*.tiff
/attachments/image_hosting/*/*.tif
/attachments/image_hosting/*/*.png
/attachments/image_hosting/*/*.jpg
/attachments/image_hosting/*/*.jpng
/attachments/image_hosting/*/*.jpeg
/attachments/image_hosting/*/*.webp
/attachments/image_hosting/*/*.gif
/attachments/image_hosting/*/*.svg
/attachments/image_hosting/*/*.ico
/attachments/image_hosting/*/*.bmp
/attachments/image_hosting/*/*.tiff
/attachments/image_hosting/*/*.tif
/attachments/image_hosting/*/*.gif
/attachments/image_hosting/*/*.ico

/attachments/*.exe
/attachments/*.svg
/attachments/*.zip
/attachments/*.gif
pma/